.rocket-img {
  width: 350px;
  height: 35vh;
}

.ml-3 {
  margin-left: 3vh;
}

.font-w h4 {
  font-weight: 600;
}

.info-section {
  width: 65%;
}

.status-reserved {
  font-weight: 600;
  width: 11%;
  background-color: #00b0f6;
  border-radius: 10%;
  color: white;
}
