.reserved-items-myprofile {
  padding: 1rem 4rem;
}

.data-container {
  width: 45%;
}

.data-list {
  margin: 10px 0;
  border-radius: 4px;
  border: gray 1px solid;
  width: 100%;
}

.data-list li {
  line-height: 24px;
  height: 2rem;
  margin: 10px 2px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.padLeft-0 {
  padding-left: 0;
}

.padLeftBottom {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
